.main {
    width: 100vw;
    height: 100vh;
    background-image: url('../../imgs/gatinhos.png');
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Balsamiq Sans', cursive;
}

.nav-landing {
    margin-bottom: 0;
}

h2 {
    position: fixed;
     top: 50%;
    left: 35%;
    max-width: 450px;
    font-size: 40px !important;
    font-weight: 900;
    line-height: 70px;
    display: block;
}

.butao {
    position: fixed;
    top: 65%;
    left: 47%;
    padding: 5px 30px 5px 30px !important;
}

@media only screen and (max-width: 600px) {
    h2 {
        position: fixed;
        top: 50%;
        left: 15%;
        max-width: 500px;
        font-size: 34px !important;
        font-weight: 900;
        line-height: 90px;
    }
  }