.cu {
    margin-top: 0px !important;
    margin-right: 40px;
    margin-left: 40px;
    
}

.body{
    width: 100vw;
    height: 100vh;
    background-image: url('../../imgs/cartinhas.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Balsamiq Sans', cursive !important;
    
}

a.butao-anchor {
    color: inherit !important;
    text-decoration: none !important;
}

.topo {
    padding-top: 10px;
}

@media only screen and (max-width: 600px) {
    body {
        width: 100vw;
        height: 100vh;
        background-image: url('../../imgs/cartinhas.png');
        background-repeat: repeat-y;
        background-size: cover;
    }
  }