*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

*:focus {
    outline: none;
}

body {
    color: #202020;
    background-color: #fbfbfb;

    font-family: 'Balsamiq Sans', cursive;
}